body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.nav-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.nav-buttons button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-buttons button:hover {
    background-color: #4cae4c;
}

p {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4cae4c;
}
